.git
.venv
.mypy_cache
.pytest_cache
.ruff_cache
__pycache__
**/__pycache__
*.py[cod]
.coverage
.logs
lake
data
.env
.env.*
.secrets
*.duckdb
*.duckdb.wal
*.parquet

*
!apps
!apps/**
!src
!src/**
!pyproject.toml
!uv.lock
!README.md
!.python-version
